*.class

.classpath
.project
.launch
.settings/
target/
.externalToolBuilders/

# Package Files #
*.jar
*.war
*.ear

*.iml
.DS_Store
.idea/

pdfsam-alternate-mix/bin/
pdfsam-core/bin/
pdfsam-fx/bin/
pdfsam-i18n/bin/
pdfsam-merge/bin/

